<!-- Assumes I have an array of persons named people -->
<%= will_paginate people %>
<div class="row">
<% people.each do |person| %>
	<%= render "people/person", :person => person %>
<% end %>
</div>
<%= will_paginate people %>
