<!-- A preview page for the purposes of showing on the index -->
<ul style="list-style: none;">
	<li class="person-name"><h3><%= link_to person.name, person %></h3></li>
	<li class="person-summary"><%= person.summary %>	</li>
</ul>
