<!-- Generates a tag cloud -->
<!-- tags -->
<% if tags.nil? || tags.empty? %>
	<h6>Spread some rumors to generate the cloud!</h6>
<% else %>
	<% lim = tags.count %>
	<% for k in 0..lim-1 do %>
	<% tag = tags[k] %>
		<% color = (240 * ( k.to_f / lim )).floor %>
		<% unless tag.nil? %>
			<span class="tag-cloud" >
				<h<%= k+3 %>>
				
					<%= link_to tag.tag, "#TagCount#{tag.count}", :style => "font-size: #{18-k}; color: rgb(#{color}, #{color}, #{color});"  %>
				
				</h<%= k+3 %>>
			</span>
		<% end %>
	<% end %>
<% end %>


