<% rumors.each do | rumor| %>
<tr>
  <td class="rumor">
    <span class="subject">Subject: <% rumor.people.each do |person| %><%= "#{person.name}, " %><% end %></span>
    <span class="content"><%= rumor.content %></span>
    <span class="timestamp">
      Spread <%= time_ago_in_words(rumor.created_at) %> ago.
    </span>
  </td>
</tr>
<% end %>
