<div id='left'>
<div id='side_bar' class='link'>

    <%= render 'shared/rumor_form' , :rumor => @rumor %>
    <br>

    <%= render 'shared/debug', :location => @location, :rumors => @rumors, :ip => @ip %>

    <table class="rumor">
      <%= render @rumors%>

    </table>

</div>
</div>

<%= render 'shared/maps' , :location => @location, :initial_zoom => @initial_zoom, :rumors => @rumors , :ip => @ip %>
