<h1>Pages#home</h1>
<%= render 'shared/rumor_form' , :rumor => @rumor %>
<% @rumors.each do |rumor| %>
	<%= render 'rumors/rumor', :rumor => rumor %>
<% end %>
<%= render 'shared/maps' , :location => @location, :initial_zoom => @initial_zoom, :rumors => @rumors %>
