<!-- Index page -->
<div id="cover-page">
	<!-- Rumofile logo -->
	<!-- Mouse-over to display terms of service -->
	<!-- Click to go the rest of the page -->
</div>

<!-- page content-->
<div class="content">
	<div class="row">
		<div class="span10">
			<div id="main-content">
				<%= render "pages/main-container", :purpose => @purpose, 
				:people => @people, :person => @person, :search => @search, :latest_rumors => @latest_rumors %>
			</div>			
		</div>
		<div class="span4">
      		<div class="advanced_people_search">
				<%= render "people/advanced_search", :location => @location, :ip => @ip %>
			</div>
        	<div id="secondary-content">
	        	<%= render "pages/secondary-container", :purpose => @purpose, 
	        	:people => @people, :person => @person, :search => @search, :latest_rumors => @latest_rumors %>
        	</div>
		</div>
	</div>
</div>



