<script type="text/javascript">
	$(document).ready( function( ){ 
		$("div.advanced_people_search").hide( );		
		$("div.advanced_people_spread").hide( );
		$("div.simple_people_spread").hide( );
				
		$(".advanced_search").click( function( ) { 
			$("div.advanced_people_search").toggle( );
			$("div.simple_people_search").toggle( );
		} );
	
		$(".advanced_spread").click( function( ) {
			$("div.advanced_people_spread").toggle( );
		} );
	} );
	

</script>

<div class="hero-unit">
	<div class="simple_people_search">
		<%= render "people/simple_search", :location => @location, :ip => @ip %>
	</div>
	<div class="advanced_people_search">
		<%= render "people/advanced_search", :location => @location, :ip => @ip %>
	</div>
</div>

<div id="people-container">
	<%= render "pages/people-container", :people => @people, :person => @person, :search => @search, :latest_rumors => @latest_rumors %>
</div>
