<%= yield :head %>

<header>
<nav>
<div class="topbar">
  <div class="fill">
    <div class="container">
      <a class="brand" href="/">The Rumor Mill</a>
      <ul class="nav">
        <li class="active"><%= link_to "Do It Faggot!", root_path %></li>
      </ul>
    </div>
  </div>
</div>
</nav>
</header>
